.aboutBlock {
    margin: 0 auto;
    width: 500px;
}

.aboutBlock h3 {
    margin: 0;
    padding: 5px 0 15px 0;
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
}

.iconsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsBlock a {
    outline: none;
    padding-right: 10px;
}

.iconsBlock a:last-child {
    padding-right: 0;
}

