.selectedPage {
    color: red;
    font-weight: bold;
}

.pageNumbers {
    font-size: 18px;
    margin: 0 5px 0 5px;
    cursor: default;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 5px;
    border: 1px solid grey;
    cursor: pointer;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}