.userPhoto {
    width: 120px;
    height: 120px;
}

.userBlock {
    width: 50%;
    padding: 10px 0 10px 0;
    border-bottom: 1px #c9c9c9 solid;
}

.users {
    padding: 10px 0 0 20px;
}

.countryFlag {
    padding: 0 0 3px 0;
    width: 17px;
    height: 17px;
}