.header {
    grid-area: h;
    background-color: #627082;
}

.header img{
    padding-left: 35px;
    padding-top: 5px;
    width: 50px;
}

.loginBlock {
    float: right;
    margin-right: 700px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}