.nav {
    grid-area: n;
    background-color: #79818f;
}

.item {
    padding-top: 15px;
    padding-left: 35px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
