.profileInfo {
    display: inline-block;

    font-size: 16px;
    background-color: #e8e8ed;
}

.infoList {
    /*list-style-type: none;*/
}

.profileInfoFull {
    box-shadow: 0 2px 2px rgb(227, 227, 227);
    border-radius: 3px;
    padding: 15px 400px 15px 15px;
}

.profileFriends {
    font-size: 14px;
    color: #c5c5c5;
}

.profileInfoRow {
    color: #7e7e7e;
}

.profileInfoRowAfter {
    color: #001529;
}

.countryFlag {
    padding: 0 0 3px 0;
    width: 20px;
    height: 20px;
}

.workingImage {
    width: 25px;
    height: 25px;
}

.mainPhoto {
    max-width: 200px;
}

.backgroundPicture {
    box-shadow: 0 2px 2px rgba(71, 71, 71, 0.22);
    border-radius: 3px;
    height: 200px;
    /*background-color: #001529;*/
    background-image: url('https://www.publicdomainpictures.net/pictures/330000/velka/blue-desktop-background.jpg');
    background-repeat: no-repeat;
}

.profileImage {
    margin-top: 26px;
    border-radius: 80px;
}

.profileName {
    /*background-color: #000c17;*/
    margin-top: 35px;
    font-size: 22px;
    color: white
}

.profileLocation {
    font-weight: lighter;
    font-size: 20px;
    color: white
}


.inputPhotoButton {
    display: block;
}

.contact {
    padding-left: 10px;
}
