.descriptionBlock {
    padding: 10px;
}

.profileInfo {
    display: inline-block;
    padding-left: 20px;
}
.infoList {
    /*list-style-type: none;*/
}

.workingImage {
    width: 25px;
    height: 25px;
}

.mainPhoto {
    max-width: 200px;
}
