/*.app-wrapper {*/
/*    margin: 0 auto;*/
/*    display: grid;*/
/*    width: 1200px;*/
/*    grid-template-areas: "h h" "n c";*/

/*    grid-template-rows: 60px 1fr;*/
/*    grid-template-columns: 2fr 10fr;*/
/*    grid-gap: 10px;*/
/*}*/

/*.app-wrapper-content {*/
/*    grid-area: c;*/
/*    background-color: #e7f0ff;*/
/*}*/

/*.background-picture {*/
/*    background: url('logo.svg')*/
/*}*/

.scroll-up-button {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 3px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 14px;
}